body {
    font-size: large;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--bg-color);
    position: relative;
    min-height: 100%;
}



#navbar{
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.navbar-links{
    list-style: none;
}

.navbar-links li{
    display: inline-block;
    padding: 0 40px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Kalam', cursive;
    font-style: italic;
    
}

.navbar-links a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    animation: navbar-hover 3s ease-in-out infinite alternate; 
    color: var(--text-color);
    text-shadow: 0 2px 0 black;
}

.navbar-links a:visited{
    color: var(--text-color);
}

.navbar-links a:hover{
    -webkit-text-stroke: 2px var(--text-color);
    text-shadow: var(--text-shadow-before);
}


.navbar-socials{
    list-style: none;
}

.navbar-socials li{
    display: inline-block;
    padding: 0 35px;
}

.navbar-socials img{
    height: 2.4em;
    width: auto;
}

#instagram:hover {
    border-radius: 20%;
    transform: scale(1.25);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 0px 5px 5px var(--fall-color);
}

#facebook:hover {
    border-radius: 20%;
    background-color: #0000ff;
    transform: scale(1.25);
    box-shadow: 0px 0px 5px 5px var(--fall-color);
}

#discord:hover {
    background-color: #7289da;
    border-radius: 20%;
    transform: scale(1.25);
    box-shadow: 0px 0px 5px 5px var(--fall-color);
}

#instagram:active {
   transform: scale(0.8);
}

#facebook:active {
    transform: scale(0.8);
}

#discord:active {
    transform: scale(0.8);
}

.break{
    flex-basis: 100%;
    height: 0;
}


.name-container{
    display: flex;
    font-size: 120px;
    font-weight: 900;
    font-style: italic;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 200px;
    padding-top: 100px;
    font-family: 'Kalam', cursive;
}

.name-container p{
	color: var(--text-hover-color);
    -webkit-text-stroke: 2px black;
    animation: name-ani 3s ease-in-out infinite alternate;
}

@keyframes name-ani {
    from{
        transform: rotate(-2deg);
        text-shadow: var(--text-shadow-before);
        
    }
    to{
        transform: rotate(2deg);
        text-shadow: var(--text-shadow);
    }
}

.about-me-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 65px;
    font-style: italic;
    font-weight: 800;
    font-family: 'Kalam', cursive;
    padding-bottom: 40px;
    color: var(--text-hover-color);
    -webkit-text-stroke: 2px black;
    animation: header-ani 5s ease-in-out infinite alternate;
}
@keyframes header-ani {
    from{
        transform:scale(0.95);
        text-shadow: var(--text-shadow-before);
        
    }
    to{
        transform: scale(1);
        text-shadow: var(--text-shadow);
    }
}

.about-me{
    margin: auto;
    width: 65%;
    text-align: center;
    padding-bottom: 200px;
    
}

.about-content{
    font-size: 40px;
    line-height: 70px;
    font-family: 'Kalam', cursive;
    font-style: italic;
    color: var(--text-normal-color);
    -webkit-text-stroke: 1.5px black;
}

.year{
    font-weight: 700;
}

.degree{
    font-weight: 700;
}


.mbti{
    font-weight: 700;
    padding-bottom: 50px;
}


.hobbies-header{
    font-size: 65px;
    font-weight: 800;
    padding-bottom: 40px;
    font-family: 'Kalam', cursive;
    font-style: italic;
    color: var(--text-hover-color);
    -webkit-text-stroke: 2px black;
    animation: header-ani 5s ease-in-out infinite alternate;
}

.hobbies{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    text-align: left;
}

.hobbie-text{
    font-size: 40px;
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Kalam', cursive;
    font-style: italic;
    line-height: 70px;
    color: var(--text-normal-color);
    -webkit-text-stroke: 1.5px black;
}

.hobbie-vid{
    width:35%;
    height: auto;
    position: relative;
    margin-bottom: 20px;

    border-radius: 17%;
    border: double 10px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(45deg, var(--navbar-color), greenyellow);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.hobbie-vid img{
    width: 100%;
    height: auto;
    border-radius: 15%;
    display: block;
}

.hobbie-vid:hover .text-overlay{
    height: 100%;
}

.hobbie-vid:hover {
    opacity: 0.8;
}

.text-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    border-radius: 15%;
    opacity: 0.8;
}

.text-overlay p, h1{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    transform: rotate(-2deg)skewX(-2deg);
    
    font-size: 40px;
    font-weight: 700;
    font-family: 'Kalam', cursive;

    color: var(--text-hover-color);
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.text-overlay h1{
    font-size: 70px;
}


.music-header{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-weight: 800;
    padding-bottom: 40px;
    font-family: 'Kalam', cursive;
    font-style: italic;
    color: var(--text-hover-color);
    -webkit-text-stroke: 2px black;
    animation: header-ani 5s ease-in-out infinite alternate;
}

.music-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.spotify:hover{
    animation: spotify-hover;
    animation-fill-mode: forwards;
}

@keyframes spotify-hover{
    from{}
    to{
        box-shadow: 0px 0px 5px 10px var(--fall-color);
        transform: scale(1.005);
    }
}

.seasons-button button{
    position: fixed;
    bottom: 5%;
    right: 5%;

    width: 15em;
    height: 15em;
    padding: 0;

    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.seasons-button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.spring .spring-theme img{
    opacity: 1;
}

.autumn .autumn-theme img{
    opacity: 1;
}

.winter-theme img{
    opacity: 1;
}

.summer .summer-theme img{
    opacity: 1;
}


.background-effect{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index: -1;
}

.i{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--fall-color);
    border-radius: 50%;
    animation: moveObject 10s infinite backwards;
    opacity: 1;
}

.i:nth-of-type(9n + 1) {
    left: 12%;
    animation-duration: 8s;
    animation-delay: 8s;
}
.i:nth-of-type(9n + 2) {
    left: 32%;
    animation-duration: 17s;
    animation-delay: 3s;
}
.i:nth-of-type(9n + 4) {
    left: 47%;
    animation-duration: 15s;
}
.i:nth-of-type(9n + 5) {
    left: 75%;
    animation-duration: 18s;
    animation-delay: 5s;
}
.i:nth-of-type(9n + 6) {
    left: 88%;
    animation-duration: 8.5s;
    animation-delay: 7.5s;
}
.i:nth-of-type(9n + 7) {
    left: 37%;
    animation-duration: 12.5s;
    animation-delay: 12s;
}
.i:nth-of-type(9n + 8) {
    left: 59%;
    animation-duration: 17.5s;
    animation-delay: 2.5s;
}
.i:nth-of-type(10n + 3) {
    animation-delay: 15.5s;
}
.i:nth-of-type(10n + 5) {
    animation-delay: 4s;
}
.i:nth-of-type(10n + 7) {
    animation-delay: 18s;
}
.i:nth-of-type(13n + 6) {
    height: 30px;
    width: 30px;
    animation-delay: 2s;
}
.i:nth-of-type(13n + 2) {
    height: 20px;
    width: 20px;
    animation-delay: 10s;
}
.i:nth-of-type(17n + 5) {
    animation-delay: 7s;
}
.i:nth-of-type(12n + 2) {
    animation-delay: 12s;
}
.i:nth-of-type(19n) {
    animation-delay: 15s;
}



@keyframes moveObject {
    from{
        top: 0%;
    } to {
        top: 100%;
    }
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Kalam', cursive;
    font-style: italic;
    color: var(--text-normal-color);
    -webkit-text-stroke: .5px black;
}

.svg{
    fill: var(--bottom-color);
}



:root,
    :root.winter {
        --navbar-color: blue;
        --text-color: #00d8ff;
        --text-hover-color: aqua;
        --bg-color: lightblue;
        --bottom-color: white;
        --fall-color: white;
        --text-shadow:white 0px 0px 20px, white 0px 0px 30px, white 0px 0px 40px, white 0px 0px 50px, white 0px 0px 75px, 2px 2px 2px;
        --text-shadow-before:white 0px 0px 20px, white 0px 0px 30px;
        --text-normal-color: #1588ff;
    }
    :root.autumn {
        --navbar-color: #a7532d;
        --text-color: #cc9d3a;
        --text-hover-color: brown;
        --bg-color: 	#cc9d3a;
        --bottom-color: orange;
        --fall-color: #F8B005;
        --text-shadow: #F8B005 0px 0px 20px, #F8B005 0px 0px 30px, #F8B005 0px 0px 40px, #F8B005 0px 0px 50px, #F8B005 0px 0px 75px, 2px 2px 2px;
        --text-shadow-before: #F8B005 0px 0px 20px, #F8B005 0px 0px 30px;
        --text-normal-color: #a7532d;
    }
    :root.spring {
        --navbar-color: #37AE0F;
        --text-color: #C1F376;
        --text-hover-color: yellow;
        --bg-color: #C1F376;
        --bottom-color: green;
        --fall-color: #79D021;
        --text-shadow: green 0px 0px 20px, green 0px 0px 30px, green 0px 0px 40px, green 0px 0px 50px, green 0px 0px 75px, 2px 2px 2px;
        --text-shadow-before: green 0px 0px 20px, green 0px 0px 30px;
        --text-normal-color: #597C2B;
    }
    
    :root.summer {
        --navbar-color: #FF4500;
        --text-color: #FFA500;
        --text-hover-color: #FF4500;
        --bg-color: #FFD700;
        --bottom-color: #FF4500;
        --fall-color: #FF4500;
        --text-shadow:  0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 3px 0px rgba(206,89,55,0);
        --text-shadow-before: 0 -10px 20px #ff8000;
        --text-normal-color: #FFA500;
    }
